.id {
    text-align: center;
  
}
.card{
    text-align: center;
 
}

.card-header{
    text-align: center;
   
}

.Login {
    text-align: center;
    
}
body {

    padding: 0;

    margin: 0;

    background-color: rgba(59, 82, 165, 0.961);

}
